@page
@using LocalChatApp.Models;
@model LocalChatApp.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";

    string _color = string.Empty;

    bool isLoggedIn = LoginModel.IsLoggedIn;

    _color = !isLoggedIn ? "gray" : "currentColor";
}

<style>
    .hidden {
        display: none;
    }
    
    .dark {
        color: @_color;
    }

    .warning {
        color: red;
    }
</style>

<form>
    <div style="float:right">
        <button type="button" id="editButton">Change Username</button>
        <div id="editUsername" class="hidden">
            <input type="text" name="username" id="usernameInput" placeholder="username" size="10" value="@ChatModel.Username" required />
            <input type="submit" value="Apply" />
        </div>
    </div>
</form>

<form method="get">
    <input type="text" name="message" id="messageInput" placeholder="message" required />
    <input type="button" value="Send" id="sendButton" class="dark" />
    <p id="warningMessage" class="warning hidden">You have to <a href="/Login">login</a> to be able to send messages!</p>
</form>

<hr />

<dl id="messagesList">
    @if (Model.Messages is not null)
        @foreach (Message message in Model.Messages)
        {
            <dt>
                @message.UsernameAndMessage?.Split(':')[0]:
            </dt>

            <dd>
                @message.UsernameAndMessage?.Split(':')[1]
            </dd>
        }
</dl>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

@if (!isLoggedIn) { 
    <script>
        document.getElementById("sendButton").addEventListener("click", function (event) {
            document.getElementById("warningMessage").style.display = "block";
            event.preventDefault();
        });
    </script>
}

<script src="~/js/chat.js"></script>

@if (!isLoggedIn)
{
    <script>
        document.getElementById("editButton").style.display = 'none';
    </script>
}
<script src="~/js/editUsername.js"></script>