@page
@using LocalChatApp.Models;
@model LocalChatApp.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}

<style>
    .hidden {
        display: none;
    }
</style>

<form>
    <div style="float:right">
        <button type="button" id="editButton" onclick="EditUsername()">Change Username</button>
        <div id="editUsername" class="hidden">
            <input type="text" name="username" id="usernameInput" placeholder="username" size="10" value="@ChatModel.Username" required />
            <input type="submit" value="Apply" />
        </div>
    </div>
</form>

<form method="get">
    <input type="text" name="message" id="messageInput" placeholder="message" required />
    <input type="submit" value="Send" id="sendButton" />
</form>

<hr />

<dl id="messagesList">
    @if (Model.Messages is not null)
        @foreach (Message message in Model.Messages)
        {
            <dt>
                @message.UsernameAndMessage?.Split(':')[0]:
            </dt>

            <dd>
                @message.UsernameAndMessage?.Split(':')[1]
            </dd>
        }
</dl>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/chat.js"></script>
<script>
    function EditUsername(event) { 
        document.getElementById("editButton").style.display = "none";
        document.getElementById("editUsername").style.display = "block";

        event.preventDefualt();
    }
</script>