@page
@using LocalChatApp.Models;
@model LocalChatApp.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}

<form>
    <div>
        <input type="text" name="message" id="message" placeholder="text..." required />
    </div>
    <input type="submit" value="Send" />
</form>

<hr />

<ul>
    @if (Model.Messages is not null)
    {
        @foreach (Message message in Model.Messages)
        {
            <li>
                @message.MessageProp
            </li>
        }
    }
</ul>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>