@page
@model LocalChatApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<br />

<form method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
    </div>
    <br />
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required autocomplete="on" />
        <img id="maskShowPassword" onclick="toggleVisibility()" src="~/Images/Mask_password_icon.png" alt="Masked Password" width="35px" />
    </div>
    <br />
    <div>
        <input type="submit" value="Login" />
    </div>
</form>

<br />

<p style="color:red">@Model.ErrorMessage</p>

<script>
    let passwordInput = document.getElementById("password");
    let maskShowPasswordImg = document.getElementById("maskShowPassword");

    function toggleVisibility(event) {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            maskShowPasswordImg.src = "/Images/Show_password_icon.png";
            maskShowPasswordImg.alt = "Shown Password";
        }

        else if (passwordInput.type === "text") {
            passwordInput.type = "password";
            maskShowPasswordImg.src = "/Images/Mask_password_icon.png";
            maskShowPasswordImg.alt = "Masked Password";
        }

        event.preventDefault();
    }
</script>